*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/ChatHistory_schema_v2.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
key.jks
/app/google-services.json
app/release
.idea